In [1]:
import pandas as pd

In [2]:
import sys
import csv
csv.field_size_limit(sys.maxsize)

131072

In [3]:
train_data = pd.read_csv("data/train.csv",engine = "python",encoding = "utf-8")
test_data = pd.read_csv("data/test.csv",engine = "python",encoding = "utf-8")
display(train_data.head())
display(test_data.head())
display(train_data.info())
display(test_data.info())

,headline,summary,article
0,"उत्तर भारत में शीत लहर जारी, लेह में पारा सात ...",NaN,उत्तर भारत में शीत लहर जारी है और पहाड़ी क्षेत...
1,यमन : विद्रोहियों के कब्जे वाले ताएज शहर के नि...,NaN,यमन सरकार के समर्थक बलों के विद्रोहियों के कब्...
2,केन्या में आतंकियों ने बस को अगवा कर 28 लोगों ...,NaN,"केन्या के उत्तर में, सोमालिया के अल-शबाब गुट क..."
3,रिम करेगा दो हजार कर्मचारियों की छंटनी,ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...,ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...
4,Puducherry: उपराज्यपाल किरण बेदी से हुआ विवाद ...,NaN,केंद्र शासित प्रदेश पुडुचेरी के मुख्यमंत्री व...

,headline,summary,article
0,"पाकिस्तानी जासूस को मिली अहम खुफिया जानकारी, ज...",पाकिस्तानी जासूस ने खुद को सैन्य कमांडर बताया ...,जम्मू कश्मीर पुलिस के एक अधिकारी ने घाटी में प...
1,"अमर को अस्पताल से छुट्टी, बोले, सपा से अब नाम ...",समाजवादी पार्टी के पूर्व महासचिव और राज्यसभा स...,नोट के बदले वोट मामले में आरोपी समाजवादी पार्ट...
2,केजरीवाल ने उप राज्यपाल से सिख विरोधी दंगों की...,NaN,आम आदमी पार्टी (आप) और अकाली दल ने बुधवार को द...
3,सैलरी नेगोश‍िएट करते वक्‍त भूलकर भी न कहें ये ...,सैलरी के बारे में बात करते वक्‍त पर्सनल बातें ...,"VIDEO: अब सैलरी होगी कम, सेविंग ज़्यादा!"
4,इंटरनेट से पता कीजिए कहां तक पहुंची ट्रेन,आईआईटी कानपुर द्वारा तैयार सिमरन (सैटेलाइट इमे...,रेल नेविगेशन से संबंधित आईआईटी कानपुर की महत्व...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147166 entries, 0 to 147165
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   headline  147166 non-null  object
 1   summary   69033 non-null   object
 2   article   143867 non-null  object
dtypes: object(3)
memory usage: 3.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36854 entries, 0 to 36853
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  36854 non-null  object
 1   summary   17265 non-null  object
 2   article   35968 non-null  object
dtypes: object(3)
memory usage: 863.9+ KB

None

In [4]:
data = train_data.append(test_data)
display(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184020 entries, 0 to 36853
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   headline  184020 non-null  object
 1   summary   86298 non-null   object
 2   article   179835 non-null  object
dtypes: object(3)
memory usage: 5.6+ MB

None

In [5]:
data.drop("headline",axis =1 ,inplace = True)

In [6]:
data.dropna(inplace=True)

In [7]:
data.to_csv("data/data.csv",index=False)

In [8]:
del train_data,test_data,data

In [9]:
pd.read_csv("data/data.csv")

,summary,article
0,ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...,ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...
1,श्रद्धांजलि सभा के दौरान अचानक खराब हुई हिलेरी...,अमेरिका में राष्ट्रपति पद के लिए डेमोक्रेटिक प...
2,पूर्व भारतीय कप्तान अनिल कुंबले का मानना है कि...,पूर्व भारतीय क्रिकेट कप्तान अनिल कुंबले का मान...
3,इंडिगो के ग्राउंड स्टाफ ने यात्री से की हाथापा...,इंडिगो एयरलाइन के प्रेसीडेंट और डायरेक्टर आदित...
4,मीजान जाफरी ने किया खुलासा\r\nनव्या नंदा को बत...,संजय लीला भंसाली की फिल्म 'मलाल' से बॉलीवुड मे...
...,...,...
86293,हैदराबाद के पास एक लॉरी में आग लगने से कम से क...,हैदराबाद के पास एक लॉरी में आग लगने से कम से क...
86294,आजमगढ़ में विभागीय पदोन्नति के लिए आयोजित शारी...,उत्तर प्रदेश के आजमगढ़ जिले में बुधवार को विभा...
86295,देश को आज़ाद हुए आज 65 साल हो चुके हैं। देशभर म...,देश को आज़ाद हुए आज 65 साल हो चुके हैं। देशभर म...
86296,नियंत्रण रेखा पर चल रहे तनाव को कम करने के लिए...,नियंत्रण रेखा पर चल रहे तनाव को कम करने के लिए...
86297,आतंकवादी संगठन अलकायदा की नींव रखने वाला ओसामा...,आतंकवादी संगठन अलकायदा की नींव रखने वाला ओसामा...