In [1]:
import pandas as pd
import re
import string
from string import punctuation

In [2]:
data =pd.read_csv("data/data_without_outlier.csv",engine = "python",encoding = "utf-8")
display(data.head())
display(data.info())

,summary,article
0,ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...,ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...
1,श्रद्धांजलि सभा के दौरान अचानक खराब हुई हिलेरी...,अमेरिका में राष्ट्रपति पद के लिए डेमोक्रेटिक प...
2,पूर्व भारतीय कप्तान अनिल कुंबले का मानना है कि...,पूर्व भारतीय क्रिकेट कप्तान अनिल कुंबले का मान...
3,मीजान जाफरी ने किया खुलासा\r\nनव्या नंदा को बत...,संजय लीला भंसाली की फिल्म 'मलाल' से बॉलीवुड मे...
4,ज़ाकिर नाइक के 78 बैंक खातों की एनआईए जांच कर ...,विवादित इस्लामिक प्रचारक ज़ाकिर नाइक के गैर सर...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66249 entries, 0 to 66248
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   summary  66249 non-null  object
 1   article  66249 non-null  object
dtypes: object(2)
memory usage: 1.0+ MB

None

In [3]:
punctuation+= "।"

In [4]:
data["summary"] = data["summary"].map(lambda s :s.translate(str.maketrans('', '', punctuation)))
data["article"] = data["article"].map(lambda s :s.translate(str.maketrans('', '', punctuation)))

In [5]:
data.sample(10)

,summary,article
58522,शाह ने कश्मीर को लेकर दिल्ली में तीन शीर्ष स्त...,केंद्रीय गृहमंत्री अमित शाह जम्मू एवं कश्मीर क...
3533,दिल्ली से सटे नोएडा में सड़क किनारे एक मासूम बच...,दिल्ली से सटे नोएडा में सड़क किनारे एक मासूम बच...
17255,इंसाफ न मिला तो कर लूंगा खुदकुशी पिता\r\n3 आर...,वहीं इस मामले को लेकर सियासत भी गरमाने लगी है ...
22786,करीब 40 हजार पुराने कोचों का कायाकल्प किया जाए...,रेल मंत्री सुरेश प्रभु ने आम जनता की रेल यात्र...
20503,फ्रांस के फ्रेंच इन्स्टीट्यूट ऑफ डेमोग्राफिक स...,दुनिया की आबादी अभी 71 अरब है जो वर्ष 2050 में...
19734,रक्षा मंत्री राजनाथ सिंह ने इन दिनों आईएनएस वि...,रक्षा मंत्री राजनाथ सिंह ने इन दिनों आईएनएस वि...
65996,कमलनाथ ने जुटाए संख्या से ज़्यादा वोट\r\nऐडवोके...,Two BJP MLAs vote in favour of Kamal Nath Govt...
49252,आफरीदी ने स्वीकार किया कि उन्होंने गलतियां की ...,पाकिस्तान के बर्खास्त कप्तान शाहिद आफरीदी ने प...
44374,जब राम कृपाल BJP में में जाने वाले थे तब हाथ क...,कभी राजद सुप्रीमो लालू प्रसाद यादव के करीबी रह...
28064,सपना चौधरी के साथ हुई धोखाधड़ी\r\nसपना चौधरी क...,A post shared by Sapna Choudhary Club isapnach...

In [6]:
data["summary"] = data["summary"].map(lambda s : " ".join(s.split()))
data["article"] = data["article"].map(lambda s : " ".join(s.split()))

In [7]:
data["summary"] = data["summary"].map

,summary,article
0,ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...,ब्लैकबेरी हैंडसेट बनाने वाली कनाडा की कंपनी रि...
1,श्रद्धांजलि सभा के दौरान अचानक खराब हुई हिलेरी...,अमेरिका में राष्ट्रपति पद के लिए डेमोक्रेटिक प...
2,पूर्व भारतीय कप्तान अनिल कुंबले का मानना है कि...,पूर्व भारतीय क्रिकेट कप्तान अनिल कुंबले का मान...
3,मीजान जाफरी ने किया खुलासा नव्या नंदा को बताया...,संजय लीला भंसाली की फिल्म मलाल से बॉलीवुड में ...
4,ज़ाकिर नाइक के 78 बैंक खातों की एनआईए जांच कर ...,विवादित इस्लामिक प्रचारक ज़ाकिर नाइक के गैर सर...
...,...,...
66244,हैदराबाद के पास एक लॉरी में आग लगने से कम से क...,हैदराबाद के पास एक लॉरी में आग लगने से कम से क...
66245,आजमगढ़ में विभागीय पदोन्नति के लिए आयोजित शारी...,उत्तर प्रदेश के आजमगढ़ जिले में बुधवार को विभा...
66246,देश को आज़ाद हुए आज 65 साल हो चुके हैं देशभर मे...,देश को आज़ाद हुए आज 65 साल हो चुके हैं देशभर मे...
66247,नियंत्रण रेखा पर चल रहे तनाव को कम करने के लिए...,नियंत्रण रेखा पर चल रहे तनाव को कम करने के लिए...
66248,आतंकवादी संगठन अलकायदा की नींव रखने वाला ओसामा...,आतंकवादी संगठन अलकायदा की नींव रखने वाला ओसामा...

In [8]:
data.to_csv("data/preprocessed_data",index =False)